@keyframes bounce-up {
  from {
    top: -5px;
  }

  to {
    top: -10px;
  }
}

@keyframes bounce-down {
  from {
    top: 5px;
  }

  to {
    top: 10px;
  }
}

#page {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}


.container {
  width: 90%;
  max-width: 800px;
  margin: 50px auto;
  position: relative;
  top:0;
  left:0;
}

.container .row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  margin-top: 50px;
}

.container .row label {
  width: 120px;
  font-size: 1.5em;
}

.container .row .presence {
  width: calc(100% - 120px);
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.container .row input,
.container .row textarea {
  width: 100%;
  outline: 0;
  border: 1px solid #aaa;
  border-radius: 4px;
  margin-top: 5px;
}

.container .row input {
  font-size: 1.5em;
  height: 2.0em;
}

.container .row textarea {
  height: 100px;
  font-size: 1.5em;
}

.avatar {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  position: relative;
  background-color: var(--user-color);
  box-sizing: border-box;
  border: 2px solid var(--user-color);
  margin-left: -16px;
  overflow: hidden;
}

.presence.off-screen .avatar {
  visibility: hidden;
}

.avatar img {
  width: 16px;
  border: 2px solid white;
  border-radius: 10px;

  position: absolute;
  left: 0;
  top: 0;
}

.above-fold, .below-fold {
  position: fixed;
  display: block;
  z-index: 5;
  right: 5%;

  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.above-fold {
  top: 0;
}

.below-fold {
  bottom: 0;
}


.above-fold .avatar, .below-fold .avatar{
  overflow: visible;
  box-shadow: rgba(0,0,0, 0.3) 0 1px 3px 0;
  transform: scale(0.6);
  transition: transform 0.5s;
}

.above-fold .avatar.popping,
.below-fold .avatar.popping {
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;

  transform: scale(1.0);
}

.above-fold .avatar::before {
  content: " ";
  background-color: var(--user-color);
  display: inline-block;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  position: absolute;
  top: -3px;
  transition: height 1s;
  left: calc(50% - 6px);
}

.above-fold .avatar.popping {
  animation-name: bounce-down;
}

/* Below fold */

.below-fold .avatar::before {
  content: " ";
  background-color: var(--user-color);
  display: inline-block;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  position: absolute;
  bottom: -3px;
  transition: height 1s;
  left: calc(50% - 6px);
}

.below-fold .avatar.popping {
  animation-name: bounce-up;
}

.above-fold .avatar.popped::before,
.below-fold .avatar.popped::before {
  height: 0;
}
