.fold.above,
.fold.below {
  position: sticky;
  display: block;
  z-index: 5;
  width: 100%;

  display: flex;
  justify-content: right;
  flex-direction: row-reverse;
}

.fold.above {
  top: 0;
}

.fold.below {
  bottom: 0;
}
